body{
    background-color: rgb(246, 232, 232);
}
header{
    padding: 0 0 20px 0;
}
.weather-app {
    background: rgb(162, 151, 151);
    max-width: 600px;
    margin: 100px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}
.search-box {
    background-color:rgb(246, 232, 232);
    border-radius: 5px;
    font-size: 16px;
    border: none;
    width: 80%;
    padding: 15px 30px;
}
.GO-button{
background-color: rgb(117, 189, 119);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 5px;
width: 15%;
margin-left: 15px;
padding: 15px 30px;
}

.city-name{
    font-family: monospace;
}
.weather-frame{
    display: flex;
    justify-content: space-between;
}
.weather-icon{
font-family: monospace;
    font-size: 20px;
}
.weather-degree{
        font-family: monospace;
        font-size: 20px;
}
.weather-degree-element{
font-family: monospace;
    font-size: 20px;
}